/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Global styles */
:root {
  --primary-color: #24221f;
  --secondary-color: #5d7c89;
}

html,
body {
  background-color: #ffffff;
  font-size: 80%;
}

a,
li {
  color: var(--secondary-color);
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button {
  font-family: "Lato", sans-serif;
  color: #24221f;
}

/* Navbar */
.custom-navbar {
  background-color: #ffffff;
}

.custom-nav-link {
  color: var(--secondary-color);
  font-weight: bold !important;
  letter-spacing: 0.1em !important;
  font-family: "Lato", sans-serif !important;
  font-size: 16px !important;
}

.activeSection {
  color: #ffbc1a !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
}

/* Product builder */
.product-builder {
  margin-bottom: 8em;
}

/* Header */
.header {
  width: 30%;
  margin: 0px auto;
  background-color: white;
  padding: 30px;
}

.mainTitle {
  font-weight: bold;
  font-size: 48px;
}

li {
  font-family: "lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 10px;
}

li:hover {
  cursor: pointer;
  color: #ffbc1a;
}

/* Car */
.carContainer {
  border: 2px solid #ededed;
  padding: 3em;
  cursor: pointer;
}

.name {
  font-weight: 600;
  font-size: 2.5em;
}

.carImage {
  width: 80%;
}

.selected {
  border-color: orange;
}

.radioCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ededed;
  margin: 15px auto;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioSelected {
  background-color: orange;
  transform: scale(2);
  margin-top: 15px;
  color: white;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ededed;
  margin-right: 20px;
}

@media screen and (min-width: 1200px) {
  .showCar {
    width: 50%;
  }
}

/* Colors */
.customTooltip > .tooltip-inner {
  background-color: #d1d1d1;
  border-radius: 5%;
  font-size: 14px;
  padding: 10px 15px;
  color: #000;
  border: none !important;
}

.customTooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border: none !important;
}

/* Accessories */
.singleAccessory {
  border: 2px solid #ededed;
  padding: 3em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.singleAccessorySelected {
  border: 2px solid orange;
  padding: 3em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.radioAccessorySelected {
  background-color: orange;
  transform: scale(2);
  color: white;
}

/* Footer */
.footer {
  height: 8em;
  border-bottom: 1px solid transparent;
  box-shadow: 0px -2px 10px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.sectionButton,
.mobileSectionButton {
  background-color: #ffbc1a !important;
  padding: 20px 20px !important;
  color: white !important;
}

.sectionButton {
  width: 200px;
}

.mobileSectionButton {
  width: 100%;
  border: none !important;
  font-size: 18px !important;
}

.backButton,
.mobileBackButton {
  background-color: #f2f2f2 !important;
  width: 60px;
  height: 60px;
  color: #637b87 !important;
  border-radius: 50% !important;
  border: none !important;
  font-size: 18px !important;
}

.mobileBackButton {
  width: 100%;
  background-color: white !important;
  color: black !important;
  border: none !important;
  padding: 20px 20px !important;
  font-size: 18px !important;
}

.shadowMobileFooter {
  -webkit-box-shadow: 0px -5px 28px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -5px 28px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -5px 28px -7px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.selectedCar {
  animation: slideInFromLeft 0.5s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationComponent {
  animation: fadein 0.5s ease-in;
}