@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,p, a, ul, li, button {
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #24221F;
  background-color: #ffffff;
}

a, li {
  color: #5D7C89;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* product builder container */

.product-builder {
  height: 100vh;
  overflow: hidden;
}

/* header */
.header {
  width: 30%;
  margin: 0 auto;
}

.h1 {
  font-weight: 700 !important;
  font-size: 3.8rem !important;
  margin: 1.1em auto 0.76em !important;
}

li {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
}

li:hover {
  cursor: pointer;
  color: #ffbc1a;
}


/* car */
.carContainer {
  border: 2px solid #ededed;
  padding: 3em;
  cursor: pointer;
}

.name {
  font-weight: 600;
  font-size: 3.5em;
}

.carImage {
  width: 80%;
}

.footer {
height: 10em;
  border-bottom: 1px solid transparent; 
  box-shadow: 0px -2px 10px 5px rgba(0, 0, 0, 0.15); /* Aggiungi un'ombra solo al bordo superiore */
}

.selected {
  border-color: orange;
}

.selected input[type='radio'] {
  background-color: orange;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ededed;
  margin-right: 20px;
}

@media screen and (min-width: 1200px) {
  .showCar {
    width: 60%
  }
}

.customTooltip > .tooltip-inner {
  background-color: #d1d1d1;
  border-radius: 5%;
  font-size: 14px;
  padding: 10px 15px;
  color: #000;
  border: none !important;
  /* TODO: correggere freccia tooltip */
  
}

.customTooltip.bs-tooltip-bottom .tooltip-arrow::before {
border: none !important;
}

.singleAccessory {
  border: 2px solid #ededed;
  padding: 3em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.summaryContainer {
  height: 100vh;
}